@import "./assets/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
}

.toolbar img {
    margin: 0 16px;
}

svg#rocket {
    width: 50px;
    height: 50px;
    transform: rotate(18deg);
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}
.text-upper {
    text-transform: uppercase;
}

// CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #616b6b;
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8f9494;
}
table.dataTable thead th.dt-head-center {
    color: white;
    &.sorting {
        background: url(/sort_both.png), #1976d2;
        background-repeat: no-repeat;
        background-position: left;
    }
    &.sorting_asc {
        background: url(/sort_asc.png), #1976d2;
        background-repeat: no-repeat;
        background-position: left;
    }
    &.sorting_desc {
        background: url(/sort_desc.png), #1976d2;
        background-repeat: no-repeat;
        background-position: left;
    }
    &.sorting_disabled {
        background: #1976d2;
        background-repeat: no-repeat;
        background-position: left;
    }
}
.btn {
    padding: 0.1rem 0.75rem !important;
}
.btn-outline-warning:hover {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_filter input {
    height: calc(1.5em + 0.5rem + 0px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.dataTables_wrapper .paginate_button {
    display: inline-block !important;
    font-weight: 400;
    color: #212529;
    text-align: center !important;
    vertical-align: middle !important;
    user-select: none !important;
    background: #007bff80 !important;
    border-color: #007bff80 !important;
    padding: 0.1rem 0.75rem !important;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem !important;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    &:hover {
        color: #000 !important;
    }
    &.current {
        color: #ffff !important;
        background-color: #1976d2 !important;
        border-color: #1976d2 !important;
    }
}
.disabled {
    cursor: not-allowed;
}
